@model OreoHealth.Models.Doctor

@{ ViewData["Title"] = "Index"; }

@*When admin successfully login this page is displayed*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - OreoHealth</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome  @Html.DisplayFor(model => model.FirstName)</h1>

            <div>
                <a asp-action="Index" asp-controller="Appointments" asp-route-id="@Model.Id">View Appointments</a>

            </div>
            <div>
                <a asp-action="AllPatient" asp-controller="Appointments" asp-route-id="@Model.Id">All Patients</a>

            </div>
            @*Admin details are displayed once admin clicks here*@
            <div>
                <a asp-action="Details" asp-route-id="@Model.Id">Account</a>

            </div>
            <div>

                <a asp-action="Logout" asp-route-id="@Model.Id">Logout</a>
            </div>
        </div>
    </div>
    </body>


